body{
    font-family: "Roboto";
    background: #F4F8FB;
}
.container{
    position: relative;
    width: 65%;
    margin: 0 auto
}
.flex-container {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.header{
    background: #FAFAFA;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 35px;
    padding-bottom: 150px;
    margin-bottom: -70px;
}
.header-main > strong{
    font-weight: 700;
}
.header-main{
    font-size: 27px;
}
.header-second{
    font-size: 16px;
    margin-top: 15px;
}
.menu-sidebar > a {
    text-decoration: none;
}
.information{
margin-bottom: 40px;
}
.information-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.ui-ux{
    position: relative;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 15px;
    /* margin-left: 5px; */
    max-width: 25%;


}
.ui-ux-test{
    color: #FFFFFF;
    position: absolute;
    background: cornflowerblue;
    padding: 7px;
    left: 15px;
    top: -15px;
    border-radius: 15px;

}

.ui-ux-text{
    margin-top: 10px;
    font-size: 15px;
    height: 170px;
    overflow: auto;
    margin-bottom: 10px;
}
.ui-ux-p{
    margin-bottom: 10px;
}
.read-more{
    color: #0C00F7;
    text-decoration: none;
}
.read-more:hover{
    color: #96D5F7;
}
.ui-ux-header{
    font-size: 17px;
}
.about-us{
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.about-us-block{
    display: flex;
    justify-content: space-between;
}
.about-us-image{

}
.about-us-img{
border-radius: 7px;
}
.about-us-header{
    font-weight: 700;
    font-size: 25px;
}
.about-us-text{
    font-size: 15px;
    color: #B7BCC2;
    margin-top: 15px;
}
.learn-more{
    padding: 5px 10px;
    background-color: #3778FA;
    display: inline-block;
    color: #FFFFFF;
    margin-top: 15px;
    border-radius: 3px;
}
.menu-sidebar{

    padding: 5px;
}
.menu-sidebar > a{
    display: inline-block;
    color: black;
}
.menu-sidebar > a:hover{
    color: #F07427;
    cursor: pointer;
}
.learn-more:hover{
    background: #2653A5;
    cursor: pointer;
}
.menu{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.menu-header{
    font-weight: 700;
    font-size: 19px;
    text-align: center;
}
.menu-sidebar{
    font-weight: 500;
}
.menu-text{
    font-size: 14px;
    text-align: center;
    color: #B7BCC2;
    margin-bottom: 15px;
}
.menu-button {
    display: -webkit-flex;
    display: flex;
}
.menu-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button-box{
    border: 1px solid #ddd;
    flex-direction: column;
    display: flex;
    border-radius: 3px;
    background: #FFFFFF;
    padding: 45px;
    margin-bottom: 15px;
    width: 120px;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}
.button-box:hover{
    background: #E4E4E4;
}
.menu-button {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.our-team-image{
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    height: 200px;
    position: relative;
}
.our-team-img{
    height: auto;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.our-team-header{
    font-size: 19px;
    text-align: center;
}
.our-team{
    position: relative;
margin-bottom: 40px;
    box-sizing: border-box;
}
.button-image{
    margin-bottom: 5px;
    color: lightblue;
    font-size: 35px;
}
.button-text{
    text-align: center;
}
.our-team-inf {
    display: flex;
    padding: 0;
    margin-left: 0;
    justify-content: space-between;
}
.our-team-box{
    width: 180px;
}
.out-team-work{
    color: #A7B8BF;
}
.our-team-text{
margin-top: 10px;
    color: #B7BCC2;
}
.our-team-header{
    font-weight: 700;
    margin-bottom: 15px;
}
.our-team-name{
font-weight: 600;
}
.our-achievments-header{
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px
}
.our-achievments{
    position: relative;
    box-sizing: border-box
}
.our-achievments-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.our-achievments-box{
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius: 3px;
    padding: 25px;
    margin-bottom: 15px;
    width: 50px;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}
.our-achievments-text{
    position: absolute;
    margin-left: 25px;
    margin-top: -10px;
    font-size: 22px;
}
.our-achievments-image {
    color: #467EF7;
    font-size: 23px;
}
.our-achievments-image :hover{
    color: #F07427;
}
@media (max-width: 640px) {
  .button-image{
      font-size: 20px;
  }
    .button-box{
        width: 35px;
       margin-bottom: 10px;
    }
    .our-team-box{
        width: 95px;
    }
    .about-us-img{
        display: none;
    }
}
